* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: century;
}
#lien {
  text-align: left;
  display: flex;
  padding-top: 30px;
  font-size: 15px;
  gap: 20px;
  list-style: none;
}
#lien a {
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
#lien a:hover {
  background:yellow;
}
body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    /* padding: 20px; */
  }

#en-tete {
  background-color: rgb(0, 91, 177);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
}
#en-tete h1 {
  color: rgb(5, 0, 0);
  padding-right: 500px;
  padding-top: 18px;
}


 .fond {
  background-image: url(./fond.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;
  color: rgb(8, 8, 8);
  padding-top: 180px;
}
.form-container {
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }

.yo {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
  
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
 }
  
  input[type="text"],
  input[type="date"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
  background-color: #0427f0;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
.engagement {
  margin-top: 30px;
  font-style: italic;
  color: #555;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.actualité {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.actualité-ecole img {
  height: 325px;
  width: 335px;
}
.actualité-ecole {
  width: 30%; /* Trois images par ligne */
  margin-bottom: 20px;
  text-align: center;
  border: #ccc solid;
  border-radius: 8px;
}
.img {
  width: 100px; /* Prend toute la largeur du conteneur */
  border-radius: 16px; /* Bordures arrondies */
  margin-bottom: 10px;
}
.promotion {
  padding: 5px;
  text-align: justify;
}
.promotion h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.sandi {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: white;
  background-color: #000000;
}
.sandi h3 {
  margin: 10px;
  padding: 10px;
}
.ye{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}
.i {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 5px auto;
  width: 500px;
  }
.kb {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 5px auto;
  width: 500px;
  }
.Nous {
  display: flex;

}
.yuma {
  text-align: center;
  font-size:30px;
  background-color: #fff7f7;
  border: 20px;
  border-radius: 5px;
}
footer {
  text-align: center;
  background-color: #555;
  font-size: 15px;
}